.storepage {
  background-color: rgb(75, 121, 7);
}
.content {
  height: 850px;
}
.incart {
  width: 120px;
  height: 60px;
  background-color: yellow;
  padding: 5px;
  border: 4px double black;
  position: relative;
  top: 30px;
}
.shoppingcart {
  font-size: 2em;
  align-items: center;
}
.minus {
  width: 30px;
  height: 40px;
  outline: none;
}
span.count {
  width: 80px;
  height: 40px;
  position: relative;
  border: 3px double black;
  color: white;
  font-size: 2em;
  text-align: center;
}
.plus {
  width: 30px;
  height: 40px;
  outline: none;
}
.cpmanage {
  display: flex;
  flex-direction: row;
}
.cpitems {
  width: 1440px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cpitem {
  margin: 30px;
  width: 400px;
  height: 220px;
  border: 2px solid orange;
}
button.rfc {
  width: 130px;
  height: 32px;
  position: relative;
  left: 10px;
  top: 30px;
  background-color: red;
  color: white;
}
button.rfc:hover {
  color: black;
  height: 40px;
  font-size: 24px;
}

.total {
  position: relative;
  top: 10px;
  background-color: yellow;
  height: 50px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  border: 4px double black;
}
@media screen and (max-width: 768px) {
  .content {
    width: 768px;
    height: 2300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cpitems {
    width: 768px;
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cpitem {
    position: relative;
    left: 40px;
    margin: 10px;
    width: 280px;
    height: 380px;
    border: 2px solid orange;
  }
  .cpmanage {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 18px;
    top: 10px;
  }
  span.count {
    width: 140px;
    height: 40px;
    position: relative;
    border: 3px double black;
    color: white;
    font-size: 2em;
    text-align: center;
  }

  .total {
    position: relative;
    top: 10px;
    left: 25px;
    background-color: yellow;
    height: 50px;
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 4px double black;
  }
  button.rfc {
    position: relative;
    left: 20px;
    top: 20px;
  }
}
@media screen and (max-width: 375px) {
  .storepage {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 375px;
    height: 3700px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 220px;
  }
  .cpitems {
    width: 375px;
    height: 3700px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 175px;
  }
  .cpmanage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: 30px;
  }
  button.rfc {
    width: 130 px;
    height: 32 px;
    position: relative;
    left: 32px;
    top: 5px;
    background-color: red;
    color: white;
  }
  .total {
    position: relative;
    left: 75px;
  }
  .incart {
    width: 120px;
    height: 50px;
    background-color: yellow;
    padding: 5px;
    border: 4px double black;
    position: relative;
    top: 1px;
    left: 130px;
  }
  .shoppingcart {
    font-size: 2em;
    align-items: center;
  }
}
