.item-one {
  margin: 30px;
  background-color: black;
  width: 200px;
  height: 200px;
}
.iimg {
  width: 200px;
  height: 180px;
}
h2.iid {
  padding: 4px;
  text-align: center;
}
h3.ipt {
  text-align: center;
  font-size: 1.75em;
  color: white;
}
h4.cost {
  background-color:black ;
  padding: 5px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 1.25em;
  border: 3px double white;
}
