body {
  width: 90em;
}
.header {
  display: flex;
  flex-direction: row;
  background-image: url(Images/ylang1.png);
  height: 7.5em;
}
.green {
  height: 6.25em;
  position: relative;
  top: 0.7em;
  left: 5em;
  z-index: 1;
  border: 0.25em solid yellow;
}
h1.header1 {
  position: relative;
  top: 0.2em;
  left: 5em;
  color: rgb(241, 68, 4);
  font-size: 5em;
  text-shadow: 3px 3px 3px yellow;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  body {
    width: 48em;
  }
  .header {
    width: 48em;
  }
  h1.header1 {
    position: relative;
    left: 3em;
    top: 0.3em;
    font-size: 4em;
  }
}
@media screen and (max-width: 375px) {
  body {
    width:23.43em;
  }
  .header {
    display: flex;
    flex-direction: column;
    background-image: url(Images/ylang-1.png);
    height: 8.5em;
    width:23.4em;
    }
    h1.header1{
      position: relative;
      top:-1.6em;
      left:0.25em;
      width:2em;
      font-size:3em ;
      z-index:1;
    }
  .green {
    width: 7em;
    position: relative;
    left: 15em;
    top: 2em;
}
}