h2.woo {
  margin: 0px;
  padding: 5px;
  color: black;
  text-align: center;
}
main.woods {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
section.woodsy {
  background: linear-gradient(#ebdf3c, rgb(138, 3, 3));
  width: 1440px;
  height: 540px;
}
h2.olfa {
  text-align: center;
  padding: 10px;
}
.flip-card-back4,
.flip-card-back5,
.flip-card-back6,
.flip-card-back7 {
  position: absolute;
  width: 300px;
  height: 390px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back4,
.flip-card-back5,
.flip-card-back6,
.flip-card-back7 {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 223, 155);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back5 {
  background-color: rgb(243, 58, 197);
}

.flip-card-back6 {
  background-color: rgb(245, 238, 177);
}

.flip-card-back7 {
  background-color: rgb(243, 163, 16);
  color: black;
}
.flip-card:hover .flip-card-inner1 {
  height: 390px;
  transform: rotateY(180deg);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  section.woodsy {
    background: linear-gradient(#ebdf3c, rgb(138, 3, 3));
    width: 768px;
    height: 950px;
  }

  main.woods {
    width: 768px;
    height: 820px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .fruity1,
  .greena,
  .water1,
  .citrus1 {
    visibility: hidden;
    width: 0px;
  }
  .fruity2,
  .greenb,
  .water2,
  .citrus2 {
    visibility: visible;
    position: relative;
  }
  .flip-card-inner1 {
    position: relative;
    left: 65px;
    width: 240px;
    height: 312px;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .flip-card:hover .flip-card-inner1 {
    transform: rotateY(180deg);
    cursor: pointer;
  }

  .flip-card-front {
    position: absolute;
    width: 240px;
    height: 312px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-back4,
  .flip-card-back5,
  .flip-card-back6,
  .flip-card-back7 {
    position: absolute;
    width: 240px;
    height: 410px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
  }

  .flip-card-back4,
  .flip-card-back5,
  .flip-card-back6,
  .flip-card-back7 {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 223, 155);
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back5 {
    background-color: rgb(243, 58, 197);
  }

  .flip-card-back6 {
    background-color: rgb(245, 238, 177);
  }

  .flip-card-back7 {
    background-color: rgb(243, 163, 16);
    color: black;
  }
  h2.olfa {
    position: relative;
    top: 5px;
    left: 0px;
    color: black;
    text-align: center;
  }
  h2.woo {
    position: relative;
    left: 0px;
  }
  h2.f {
    position: relative;
    left: 10px;
  }
  p.fcb {
    position: relative;
    width: 220px;
    left: 5px;
  }
}
@media screen and (max-width: 375px) {
  section.woodsy {
    background: linear-gradient(#ebdf3c, rgb(138, 3, 3));
    width: 375px;
    height: 1950px;
  }

  main.woods {
    width: 375px;
    height: 1720px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2.woo {
    width: 300px;
    position: relative;
  }
  h2.f {
    position: relative;
  }
  .fruity2,
  .greenb,
  .water2,
  .citrus2 {
    visibility: visible;
    position: relative;
  }
  .flip-card-inner1 {
    box-shadow: none;
    position: relative;
    left: 5px;
    width: 240px;
    height: 312px;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: none;
  }
}
.flip-card-back4,
.flip-card-back5,
.flip-card-back6,
.flip-card-back7 {
  height: 390px;
}
